{% extends 'base.html' %}
{% block title %}Create{% endblock %}
{% block nav %} {% endblock %}
{% block content %}
<h1>Create Article</h1>

<form method="post">
    {% csrf_token %}

    <label>Задача:</label><br/>
    <input type="text" name="task"/><br/>

    <label>Статус:</label><br/>
    <select name="status" id="">
        {% for choice in status_choices %}
            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
        {% endfor %}<br>

    </select><br/>
    <br/>
    <label>Описание:</label><br/>
    <p><textarea rows="5" cols="45" name="text"></textarea></p>
    <br>
    <label>Дата выполнения:</label><br/>
    <input type="date" name="updated_at"/><br/>
    <br>
    <input type="submit" value="Send"/>
</form>

{% endblock %}


