{% csrf_token %}
{% for error in form.non_field_errors %}
   <p class="form-error">{{ error }}</p>
{% endfor %}

{% for field in form %}
    <p><label for="{{ field.id_for_label }}">{{ field.label }}</label></p>
    {% for error in field.errors %}
    <p class="text-danger">{{ error }}</p>
    {% endfor %}
    {{ field }}
{% endfor %}




{#<p><label for="{{ form.task.id_for_label }}">{{ form.task.label }}</label></p>#}
{#{% for error in form.task.errors %}#}
{#<p class="text-danger">{{ error }}</p>#}
{#{% endfor %}#}
{#{{ form.task }}#}
{##}
{#<p><label for="{{ form.status.id_for_label }}">{{ form.status.label }}</label></p>#}
{#{% for error in form.status.errors %}#}
{#<p class="text-danger">{{ error }}</p>#}
{#{% endfor %}#}
{#{{ form.status }}#}
{##}
{#<p><label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label></p>#}
{#{% for error in form.description.errors %}#}
{#<p class="text-danger">{{ error }}</p>#}
{#{% endfor %}#}
{#{{ form.description }}#}
{##}
{#<p><label for="{{ form.updated_at.id_for_label }}">{{ form.updated_at.label }}</label></p>#}
{#{% for error in form.updated_at.errors %}#}
{#<p class="text-danger">{{ error }}</p>#}
{#{% endfor %}#}
{#{{ form.updated_at }}#}
{#<br>#}
{##}
<br>
<input type="submit" value="{{ button_text }}" />